body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  color: #288690;
  background-color: #62ECF0;
  background-image: url("https://f.cloud.github.com/assets/5033783/988479/d1b5d7ce-0902-11e3-9419-27a8bdbd12f8.jpg")

}

a {
  color: #EFE1A0;
} 

p {
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #494690;
}

.page-header {
  border-bottom: 1pxpx solid #5BE060;
}

hr {
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #ffffff;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #4B8C00;
  padding: 4px 4px 4px 4px;
  font-size: 13px;
  color: #C31E60;
  border: 1px solid #ccc;
}

.well {
  background-color: #CD8370;
}

.btn {
  color: #029600;
  background-image: -moz-linear-gradient(top, #90A890, #A96C40);
  background-image: -ms-linear-gradient(top, #90A890, #A96C40);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#90A890), to(#A96C40));
  background-image: -webkit-linear-gradient(top, #90A890, #A96C40);
  background-image: -o-linear-gradient(top, #90A890, #A96C40);
  background-image: linear-gradient(top, #90A890, #A96C40);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'90A890, endColorstr='#'A96C40, GradientType=0);
}

.btn:hover,
.btn:active,
.btn.active,
.btn.disabled,
.btn[disabled] {
  color: #029600;
  background-color: #A96C40;
}

.btn-primary {
  background-color: #006dcc;
  color: #FA37B0;
  background-image: -moz-linear-gradient(top, #4DFF90, #98F380);
  background-image: -ms-linear-gradient(top, #4DFF90, #98F380);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4DFF90), to(#98F380));
  background-image: -webkit-linear-gradient(top, #4DFF90, #98F380);
  background-image: -o-linear-gradient(top, #4DFF90, #98F380);
  background-image: linear-gradient(top, #4DFF90, #98F380);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'4DFF90, endColorstr='#'98F380, GradientType=0);
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary.active,
.btn-primary.disabled,
.btn-primary[disabled] {
  background-color: #98F380;
}

.btn-warning {
  color: #3523B0;
  background-image: -moz-linear-gradient(top, #8E8290, #1D9970);
  background-image: -ms-linear-gradient(top, #8E8290, #1D9970);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#8E8290), to(#1D9970));
  background-image: -webkit-linear-gradient(top, #8E8290, #1D9970);
  background-image: -o-linear-gradient(top, #8E8290, #1D9970);
  background-image: linear-gradient(top, #8E8290, #1D9970);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'8E8290, endColorstr='#'1D9970, GradientType=0);
}

.btn-warning:hover,
.btn-warning:active,
.btn-warning.active,
.btn-warning.disabled,
.btn-warning[disabled] {
  background-color: #1D9970;
}

.btn-danger {
  color: #7AF140;
  background-image: -moz-linear-gradient(top, #862CA0, #340AF0);
  background-image: -ms-linear-gradient(top, #862CA0, #340AF0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#862CA0), to(#340AF0));
  background-image: -webkit-linear-gradient(top, #862CA0, #340AF0);
  background-image: -o-linear-gradient(top, #862CA0, #340AF0);
  background-image: linear-gradient(top, #862CA0, #340AF0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'862CA0, endColorstr='#'340AF0, GradientType=0);
}

.btn-danger:hover,
.btn-danger:active,
.btn-danger.active,
.btn-danger.disabled,
.btn-danger[disabled] {
  background-color: #340AF0}

.btn-success {
  color: #194CF0;
  background-image: -moz-linear-gradient(top, #22AE70, #1182C0);
  background-image: -ms-linear-gradient(top, #22AE70, #1182C0);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#22AE70), to(#1182C0));
  background-image: -webkit-linear-gradient(top, #22AE70, #1182C0);
  background-image: -o-linear-gradient(top, #22AE70, #1182C0);
  background-image: linear-gradient(top, #22AE70, #1182C0);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'22AE70, endColorstr='#'1182C0, GradientType=0);
}
.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
  background-color: #1182C0;
}

.btn-info {
  color: #095640;
  background-image: -moz-linear-gradient(top, #08D410, #BC0250);
  background-image: -ms-linear-gradient(top, #08D410, #BC0250);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08D410), to(#BC0250));
  background-image: -webkit-linear-gradient(top, #08D410, #BC0250);
  background-image: -o-linear-gradient(top, #08D410, #BC0250);
  background-image: linear-gradient(top, #08D410, #BC0250);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'08D410, endColorstr='#'BC0250, GradientType=0);
}
.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
  background-color: #BC0250;
}

.alert {
  padding: 8px 35px 8px 14px;
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
}

.alert-success {
  background-color: #A8EE30;
  border-color: #5C4960;
}
.alert-success, .alert-success .alert-heading {
  color: #3CB110;
}
.alert-danger, .alert-error {
  background-color: #5484C0;
  border-color: #EE9390;
}
.alert-danger,
.alert-error,
.alert-danger .alert-heading,
.alert-error .alert-heading {
  color: #536AE0;
}
.alert-info {
  background-color: #953710;
  border-color: #B8C7D0;
}
.alert-info, .alert-info .alert-heading {
  color: #E3E8D0;
}

.navbar-inner {
  background-image: -moz-linear-gradient(top, #3400D0, #94EB10);
  background-image: -ms-linear-gradient(top, #3400D0, #94EB10);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3400D0), to(#94EB10));
  background-image: -webkit-linear-gradient(top, #3400D0, #94EB10);
  background-image: -o-linear-gradient(top, #3400D0, #94EB10);
  background-image: linear-gradient(top, #3400D0, #94EB10);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#'3400D0, endColorstr='#'94EB10, GradientType=0);
}

.navbar .brand {
  padding: 8px 20px 12px;
  font-size: 20px;
  color: #FBC740;
}

.navbar .divider-vertical {
  height: 41px;
  background-color: #2BDD00;
  border-right: 1px solid #146670;
}

.navbar .nav > li > a {
  padding: 10px 10px 11px;
  font-size: 14px;
  color: #0BE240;
}

.navbar .nav > .active > a,
.navbar .nav > .active > a:hover,
.navbar .nav > .active > a:focus {
  color: #FBA220;
}

.label,
.badge {
  padding: 1px 3px 2px;
  font-size: 9.75px;
  color: #24D290;
  background-color: #C76500;
}

.label-important,
.badge-important {
  background-color: #CCF760;
}

.label-warning,
.badge-warning {
  background-color: #148BA0;
}

.label-success,
.badge-success {
  background-color: #B90B60;
}

.label-info,
.badge-info {
   background-color: #8CFFF0;
}

#mainimage {
    margin-left: auto;
    margin-right: auto;
    max-width: 50%;
}

